:root {
  --paragraph-font: "Comfortaa", cursive;
  --heading-font: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  text-align: center;
}
p {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.hero {
  font-size: 50px;
  margin: 160px 20px auto;
  font-family: var(--heading-font);
  font-weight: 500;
}
.introduction {
  font-size: 20px;
}

.home-image {
  max-width: 200px;
}
