:root {
  --paragraph-font: "Comfortaa", cursive;
  --heading-font: Verdana, Geneva, Tahoma, sans-serif;
  --primary-color: burlywood;
  --border-color: whitesmoke;
}

body {
  text-align: center;
  margin: 0 auto;
}
p {
  font-family: var(--paragraph-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}
ul {
  list-style-type: none;
}

li {
  margin-top: 10px;
  position: relative;
  line-height: 2;
  text-align: left;
  left: 300px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
.hero-paragraph,
.work-heading {
  margin-top: 160px;
  font-size: 40px;
  font-weight: 800;
}
.introduction {
  font-size: 20px;
  font-family: var(--paragraph-font);
}

.about-image {
  margin-top: 160px;
  max-width: 400px;
  border-radius: 100%;
}
.image {
  margin: 60px 0;
  background-color: var(--border-color);
  max-width: 45%;
  border: solid 10px var(--border-color);
  border-radius: 8px;
  padding: 10px;
}

.btn-primary {
  border-color: var(--primary-color);
  background-color: var(--primary-color) !important;
}
.work-image {
  max-width: 300px;
  padding: 20px;
  border-radius: 50px;
}
.work-paragraphs {
  padding: 0 100px 0 100px;
}
.work-link {
  color: black;
  opacity: 20%;
  font-size: 30px;
}

.socials {
  margin: 40px;
  color: #a55233;
  text-decoration: none;
  font-size: 30px;
}

.contact-head {
  margin-bottom: 80px;
}
.contact-details {
  background-color: #a55233;
}
@media (max-width: 900px) {
  .hero-paragraph {
    margin-top: 60px;
    font-size: 20px;
    font-weight: 900;
  }
  .hero-heading,
  .work-heading {
    font-size: 20px;
    font-weight: 600;
  }
  .introduction {
    font-size: 12px;
  }
  .image,
  .work-paragraphs,
  .contact-description {
    display: none;
  }
  .project-heading {
    font-size: 30px;
    margin-top: 0%;
  }
  .app-description {
    font-size: 15px;
    text-align: center;
    margin: 18px, 0;
    margin-bottom: 0;
    padding: 0 70px;
  }
  .about-image {
    max-width: 200px;
  }
  .socials {
    margin: 10px;
    position: relative;
    right: 80px;
  }
  .social-link {
    position: relative;
    right: 350px;
  }
  .contact-paragraph,
  .socials,
  .contact-head {
    text-align: left;
  }
}
